* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "AvenirNext-DemiBold", "HelveticaNeue", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-family: "Avenir Next Cyr", sans-serif;
  font-family: "Avenir Next Cyr Thin", sans-serif;
  font-family: "Avenir Next Cyr Ultra Light", sans-serif;
  font-family: "Avenir Next Cyr Light", sans-serif;
  font-family: "Avenir Next Cyr Medium", sans-serif;
  font-family: "Avenir Next Cyr Heavy", sans-serif;
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #007cc0;
  padding: 0;
}
header .navHeader {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: none;
  position: relative;
}
header .navHeader .logo img {
  width: 50px;
  margin-left: 16px;
}
header .navHeader .menu {
  margin: 0;
  padding: 0;
}
header .navHeader span, header .navHeader i {
  position: relative;
}
header .navHeader span {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 0.5px;
}
header .navHeader .forSmall {
  padding: 0;
}

@media screen and (max-width: 1200px) {
  header .forSmall {
    margin: 0;
    padding: 0;
  }
  header .forSmall button span {
    display: none;
  }
  header .forSmall i {
    font-size: 20px;
  }
  .forSmallScreen .content-nav {
    position: absolute;
    z-index: 9;
    width: 100%;
    top: 53px;
    left: 0;
    padding: 0;
  }
  .forSmallScreen .content-nav .card {
    background-color: #F5F5F5;
  }
  .forSmallScreen .content-nav .card .list-group-item {
    background-color: #F5F5F5;
    padding-left: 0;
    padding-right: 0;
  }
  .forSmallScreen .content-nav .card .list-group-item a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .forSmallScreen .content-nav .card .list-group-item span {
    font-size: 14px;
    font-weight: 500;
    color: #00324f;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  .forSmallScreen .content-nav .card .list-group-item .language-button {
    margin-top: 5px;
  }
}
.btn-nav {
  padding: 14px 16px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  color: #FFFFFF;
  transition: all 0.3s;
  position: relative;
}
.btn-nav.high-light {
  padding: 14px 30px;
  border-color: hsla(0deg, 0%, 100%, 0.5);
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.btn-nav.high-light.bd-l {
  border-left: none;
}
.btn-nav i {
  font-size: 16px;
}
.btn-nav::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  height: 0;
  background-color: #FFFFFF;
  transition: all 0.2s;
  border: none;
  display: block;
}
.btn-nav:hover {
  border-color: #FFFFFF;
}
.btn-nav:hover span, .btn-nav:hover i {
  color: #00324f;
  z-index: 2;
}
.btn-nav:hover::after {
  height: 100%;
}

.btn-language {
  padding: 3px 14px;
  background: #FFFFFF;
  border: 2.5px solid #007cc0;
  border-radius: 1.95rem;
  color: #FFFFFF;
  transition: all 0.3s;
  position: relative;
  font-size: 12px;
  font-weight: 600;
  color: #007cc0;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.btn-language.active {
  background-color: #007cc0;
  color: white;
}

.btn-offer {
  padding: 11px 25px;
  background: #e42525;
  border: 2.5px solid #FFFFFF;
  border-radius: 1.95rem;
  color: #FFFFFF;
  transition: all 0.3s;
  position: relative;
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: all 0.2s;
}
.btn-offer:hover {
  cursor: pointer;
  text-decoration: none;
  color: #e42525;
  background-color: #FFFFFF;
}

.btn-slide {
  position: absolute;
  z-index: 8;
  width: none;
  top: 50%;
  left: none;
  width: 45px;
  height: 90px;
  transform: translateY(-50%);
  border-radius: 0 12px 12px 0;
  color: #00324f;
  transition: all 0.5s;
  background-color: white;
  border: none;
}
.btn-slide i {
  font-size: 25px;
  font-weight: none;
  color: #00324f;
  letter-spacing: none;
}
.btn-slide.carousel-control-next {
  border-radius: 12px 0 0 12px;
}
.btn-slide:hover i {
  color: #2198dc;
}

.btn-learn-more {
  padding: 8px 13px;
  background: #2198dc;
  border: 2.5px solid transparent;
  border-radius: 1.95rem;
  color: #FFFFFF;
  transition: all 0.3s;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: none;
}
.btn-learn-more:hover {
  border-color: #2198dc;
  background-color: transparent;
  color: #2198dc;
}

#carouselPrimary {
  position: relative;
  padding-top: 42%;
}
#carouselPrimary .carousel__content {
  position: absolute;
  z-index: 8;
  width: 100%;
  top: 53px;
  left: 0;
  padding: 0;
}
#carouselPrimary .carousel__content img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
#carouselPrimary .carousel__content .carousel__caption {
  position: absolute;
  z-index: 8;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#carouselPrimary .carousel__content .carousel__caption h5 {
  font-size: 22px;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: none;
}
#carouselPrimary .carousel__content .carousel__caption p {
  font-size: 10px;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: none;
  margin: 5px 0;
}
#carouselPrimary .carousel__content .carousel__caption.none-p {
  bottom: 15px;
}
#carouselPrimary ol {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  z-index: 8;
  width: 100%;
  margin: 0;
  padding-left: 11px;
}
#carouselPrimary ol li {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
#carouselPrimary ol li.active {
  background-color: #007cc0;
}

.search-form {
  width: 60%;
  margin: 22px auto;
}
.search-form input {
  padding: 20px 0;
  background: #FFFFFF;
  border: 2px solid transparent;
  border-radius: 1.95rem;
  color: black;
  transition: all 0.3s;
  position: relative;
  padding-left: 40px;
  box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.15);
}
.search-form input.form-control:focus {
  border-color: #62c7ff;
}
.search-form input::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #007cc0;
  letter-spacing: 0;
}
.search-form input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #007cc0;
  letter-spacing: 0;
}
.search-form input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #007cc0;
  letter-spacing: 0;
}
.search-form i {
  position: absolute;
  z-index: none;
  width: none;
  bottom: 12%;
  left: 23%;
  color: #007cc0;
}
.search-form::-moz-placeholder {
  color: #007cc0;
}
.search-form:-ms-input-placeholder {
  color: #007cc0;
}
.search-form::placeholder {
  color: #007cc0;
}

.new__product {
  padding: 30px 78px;
  background: url(../images/Background.gif);
  background-size: cover;
  background-position: none;
  background-repeat: no-repeat;
}
.new__product .product__item {
  position: relative;
}
.new__product .product__item img {
  width: 100%;
  height: 370px;
  padding: 16px 0;
}
.new__product .product__item .item__text {
  position: absolute;
  z-index: none;
  width: 100%;
  bottom: 16px;
  left: 0;
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  padding: 0 16px;
}
.new__product .product__item .item__text h3 {
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: none;
  margin-bottom: 20px;
  font-family: AvenirNext-Bold;
  text-align: center;
}
.new__product .product__item .item__text button {
  margin-bottom: 20px;
}
.new__product .product__item .item__text p {
  font-size: 12px;
  font-weight: fw-1;
  color: #FFFFFF;
  letter-spacing: none;
  margin: 0;
  font-family: AvenirNext-Regular;
  text-align: center;
}/*# sourceMappingURL=style.css.map */