* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "AvenirNext-DemiBold", "HelveticaNeue", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-family: "Avenir Next Cyr", sans-serif;
  font-family: "Avenir Next Cyr Thin", sans-serif;
  font-family: "Avenir Next Cyr Ultra Light", sans-serif;
  font-family: "Avenir Next Cyr Light", sans-serif;
  font-family: "Avenir Next Cyr Medium", sans-serif;
  font-family: "Avenir Next Cyr Heavy", sans-serif;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.container-fluid {
  padding: 0;
}

li {
  list-style: none;
}

body {
  background-color: #F5F5F5;
}

.title {
  text-align: center;
}
.title h2 {
  font-size: 60px;
  font-weight: 100;
  color: #06456a;
  letter-spacing: 0.5px;
}
.title p {
  font-size: 12px;
  font-weight: 100;
  color: #06456a;
  letter-spacing: 0.5px;
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #007cc0;
}
header .navHeader {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: none;
  position: relative;
}
header .navHeader .logo img {
  width: 50px;
  margin-left: 16px;
}
header .navHeader .menu {
  margin: 0;
  padding: 0;
}
header .navHeader span, header .navHeader i {
  position: relative;
}
header .navHeader span {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 0.5px;
}
header .navHeader .forSmall {
  padding: 0;
}

@media screen and (max-width: 1200px) {
  header .forSmall {
    margin: 0;
    padding: 0;
  }
  header .forSmall button span {
    display: none;
  }
  header .forSmall i {
    font-size: 20px;
  }
  .forSmallScreen .content-nav {
    position: fixed;
    z-index: 9;
    width: 100%;
    top: 53px;
    left: 0;
    padding: 0;
  }
  .forSmallScreen .content-nav .card {
    background-color: #F5F5F5;
  }
  .forSmallScreen .content-nav .card .list-group-item {
    background-color: #F5F5F5;
    padding-left: 0;
    padding-right: 0;
  }
  .forSmallScreen .content-nav .card .list-group-item a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .forSmallScreen .content-nav .card .list-group-item span {
    font-size: 14px;
    font-weight: 500;
    color: #00324f;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  .forSmallScreen .content-nav .card .list-group-item .language-button {
    margin-top: 5px;
  }
}
.btn-nav {
  padding: 14px 16px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  color: #FFFFFF;
  transition: all 0.3s;
  position: relative;
}
.btn-nav.high-light {
  padding: 14px 30px;
  border-color: hsla(0deg, 0%, 100%, 0.5);
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.btn-nav.high-light.bd-l {
  border-left: none;
}
.btn-nav i {
  font-size: 16px;
}
.btn-nav::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  height: 0;
  background-color: #FFFFFF;
  transition: all 0.2s;
  border: none;
  display: block;
}
.btn-nav:hover {
  border-color: #FFFFFF;
}
.btn-nav:hover span, .btn-nav:hover i {
  color: #00324f;
  z-index: 2;
}
.btn-nav:hover::after {
  height: 100%;
}

.btn-language {
  padding: 3px 14px;
  background: #FFFFFF;
  border: 2.5px solid #007cc0;
  border-radius: 1.95rem;
  color: #FFFFFF;
  transition: all 0.3s;
  position: relative;
  font-size: 12px;
  font-weight: 600;
  color: #007cc0;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.btn-language.active {
  background-color: #007cc0;
  color: white;
}

.btn-offer {
  padding: 11px 25px;
  background: #e42525;
  border: 2.5px solid #FFFFFF;
  border-radius: 1.95rem;
  color: #FFFFFF;
  transition: all 0.3s;
  position: relative;
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: all 0.2s;
}
.btn-offer:hover {
  cursor: pointer;
  text-decoration: none;
  color: #e42525;
  background-color: #FFFFFF;
}
.btn-offer.build {
  padding: 11px 40px;
  background-color: #FFFFFF;
  color: #e42525;
  border-color: #e42525;
}
.btn-offer.build:hover {
  background-color: #e42525;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.btn-slide {
  position: absolute;
  z-index: 8;
  width: none;
  top: 50%;
  left: none;
  width: 45px;
  height: 90px;
  transform: translateY(-50%);
  border-radius: 0 12px 12px 0;
  color: #00324f;
  transition: all 0.5s;
  background-color: white;
  border: none;
}
.btn-slide i {
  font-size: 25px;
  font-weight: none;
  color: #00324f;
  letter-spacing: none;
}
.btn-slide.carousel-control-next {
  border-radius: 12px 0 0 12px;
}
.btn-slide:hover i {
  color: #2198dc;
}

.btn-learn-more {
  padding: 8px 13px;
  background: #2198dc;
  border: 2.5px solid transparent;
  border-radius: 1.95rem;
  color: #FFFFFF;
  transition: all 0.3s;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: none;
}
.btn-learn-more:hover {
  border-color: #2198dc;
  background-color: transparent;
  color: #2198dc;
}
.btn-learn-more.large-padding {
  padding: 8px 60px;
  border-color: #FFFFFF;
}
.btn-learn-more.large-padding:hover {
  background-color: #FFFFFF;
  text-decoration: none;
}
.btn-learn-more.fix-padding {
  padding: 5px 25px;
  background-color: #007cc0;
  border-color: #007cc0;
}
.btn-learn-more.fix-padding:hover {
  color: #007cc0;
  background-color: #FFFFFF;
}
.btn-learn-more.fix-padding.color-red {
  background-color: #e42525;
  border-color: #e42525;
}
.btn-learn-more.fix-padding.color-red:hover {
  color: #e42525;
  background-color: #FFFFFF;
}
.btn-learn-more.bg-white {
  background-color: #FFFFFF;
  color: #007cc0;
  border-color: #007cc0;
}
.btn-learn-more.bg-white:hover {
  color: #FFFFFF;
  background-color: #007cc0 !important;
}

.btn-nav-product {
  border: none;
  background-color: transparent;
}
.btn-nav-product span {
  font-size: 14px;
  font-weight: 600;
  color: #00324f;
  letter-spacing: none;
}
.btn-nav-product span::after {
  content: "";
  display: block;
  height: 5px;
  background-color: #2198dc;
  opacity: 0;
}
.btn-nav-product.active {
  border: none;
  background-color: transparent !important;
}
.btn-nav-product.active span {
  color: #2198dc !important;
}
.btn-nav-product.active span::after {
  opacity: 1;
}
.btn-nav-product:hover {
  border: none;
}
.btn-nav-product:hover span {
  color: #2198dc;
}
.btn-nav-product:focus {
  border: 0;
  outline: none;
}

.btn-tool {
  padding: 3px 30px;
  background: #007cc0;
  border: 2.5px solid transparent;
  border-radius: 1.95rem;
  color: #FFFFFF;
  transition: all 0.3s;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: none;
}
.btn-tool:hover {
  border-color: #007cc0;
  background-color: transparent;
  color: #007cc0;
}

#carouselPrimary {
  position: relative;
  padding-top: 42%;
}
#carouselPrimary .carousel__content {
  position: absolute;
  z-index: 8;
  width: 100%;
  top: 53px;
  left: 0;
}
#carouselPrimary .carousel__content img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
#carouselPrimary .carousel__content .carousel__caption {
  position: absolute;
  z-index: 8;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#carouselPrimary .carousel__content .carousel__caption h5 {
  font-size: 22px;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: none;
}
#carouselPrimary .carousel__content .carousel__caption p {
  font-size: 10px;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: none;
  margin: 5px 0;
}
#carouselPrimary .carousel__content .carousel__caption.none-p {
  bottom: 15px;
}
#carouselPrimary ol {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  z-index: 8;
  width: 100%;
  margin: 0;
  padding-left: 11px;
}
#carouselPrimary ol li {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
#carouselPrimary ol li.active {
  background-color: #007cc0;
}

.search-form {
  width: 60%;
  margin: 22px auto;
}
.search-form input {
  padding: 20px 0;
  background: #FFFFFF;
  border: 2px solid transparent;
  border-radius: 1.95rem;
  color: black;
  transition: all 0.3s;
  position: relative;
  padding-left: 40px;
  box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.15);
}
.search-form input.form-control:focus {
  border-color: #62c7ff;
}
.search-form input::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #007cc0;
  letter-spacing: 0;
}
.search-form input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #007cc0;
  letter-spacing: 0;
}
.search-form input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #007cc0;
  letter-spacing: 0;
}
.search-form i {
  position: absolute;
  z-index: none;
  width: none;
  bottom: 12%;
  left: 23%;
  color: #007cc0;
}
.search-form::-moz-placeholder {
  color: #007cc0;
}
.search-form:-ms-input-placeholder {
  color: #007cc0;
}
.search-form::placeholder {
  color: #007cc0;
}

.new__product {
  padding: 30px 78px;
  background: url(../images/Background.gif);
  background-size: cover;
  background-position: none;
  background-repeat: no-repeat;
}
.new__product .product__item {
  position: relative;
}
.new__product .product__item img {
  width: 100%;
  height: 370px;
  padding: 16px 0;
}
.new__product .product__item .item__text {
  position: absolute;
  z-index: none;
  width: 100%;
  bottom: 16px;
  left: 0;
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  padding: 0 16px;
}
.new__product .product__item .item__text h3 {
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: none;
  margin-bottom: 20px;
  font-family: AvenirNext-Bold;
  text-align: center;
}
.new__product .product__item .item__text button {
  margin-bottom: 20px;
}
.new__product .product__item .item__text p {
  font-size: 12px;
  font-weight: fw-1;
  color: #FFFFFF;
  letter-spacing: none;
  margin: 0;
  font-family: AvenirNext-Regular;
  text-align: center;
}
.new__product.bg-product {
  background: #F5F5F5;
  background-size: cover;
  background-position: none;
  background-repeat: no-repeat;
}

.product {
  background-color: #F5F5F5;
  text-align: center;
}
.product .text-offer {
  font-family: AvenirNext-Regular;
  margin-bottom: 30px;
  font-size: 14px;
}
.product .text-offer span {
  font-size: 14px;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 0;
  text-transform: uppercase;
  font-family: AvenirNext-Bold;
}
.product .nav__product {
  width: 70%;
  margin: 20px auto;
}
.product .nav__product .nav-tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
}
.product .car__content {
  font-family: AvenirNext-Regular;
  color: #FFFFFF;
  text-align: left;
  padding-top: 49px;
  height: 590px;
  background: url(../images/MY22-accord-hero-intro-1400-2-2x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product .car__content img {
  width: 100%;
  margin-bottom: 30px;
}
.product .car__content .content {
  padding: 20px 60px;
}
.product .car__content .content .car__text p {
  font-family: AvenirNext-Regular;
}
.product .car__content .content .car__text .stats {
  display: flex;
  justify-content: space-around;
  align-items: left;
}
.product .car__content .content .car__text .stats .stat {
  font-family: AvenirNext-Regular;
  font-size: 44px;
  font-weight: none;
  color: #FFFFFF;
  letter-spacing: 0;
}
.product .car__content .content .car__text .stats .label {
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 0;
}
.product .car__content .content .btn-car {
  margin-top: 40px;
}
.product .suv__content {
  font-family: AvenirNext-Regular;
  color: #FFFFFF;
  text-align: left;
  padding-top: 49px;
  height: 590px;
  background: url(../images/MY23-ComparePromo-Passport-L-2x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product .suv__content img {
  width: 100%;
  margin-bottom: 30px;
}
.product .suv__content .content {
  padding: 20px 60px;
}
.product .suv__content .content .car__text p {
  font-family: AvenirNext-Regular;
}
.product .suv__content .content .car__text .stats {
  display: flex;
  justify-content: space-around;
  align-items: left;
}
.product .suv__content .content .car__text .stats .stat {
  font-family: AvenirNext-Regular;
  font-size: 44px;
  font-weight: none;
  color: #FFFFFF;
  letter-spacing: 0;
}
.product .suv__content .content .car__text .stats .label {
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 0;
}
.product .suv__content .content .btn-car {
  margin-top: 40px;
}
.product .min__content {
  font-family: AvenirNext-Regular;
  color: #FFFFFF;
  text-align: left;
  padding-top: 49px;
  height: 590px;
  background: url(../images/2022-Civic-10-Best-Homepage-Hero-1400-1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product .min__content img {
  width: 100%;
  margin-bottom: 30px;
}
.product .min__content .content {
  padding: 20px 60px;
}
.product .min__content .content .car__text p {
  font-family: AvenirNext-Regular;
}
.product .min__content .content .car__text .stats {
  display: flex;
  justify-content: space-around;
  align-items: left;
}
.product .min__content .content .car__text .stats .stat {
  font-family: AvenirNext-Regular;
  font-size: 44px;
  font-weight: none;
  color: #FFFFFF;
  letter-spacing: 0;
}
.product .min__content .content .car__text .stats .label {
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 0;
}
.product .min__content .content .btn-car {
  margin-top: 40px;
}
.product .elec__content {
  font-family: AvenirNext-Regular;
  color: #FFFFFF;
  text-align: left;
  padding-top: 49px;
  height: 590px;
  background: url(./../../images/MY23-CR-V-Feature-Blade-Exterior-Overview-A.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product .elec__content img {
  width: 100%;
  margin-bottom: 30px;
}
.product .elec__content .content {
  padding: 20px 60px;
}
.product .elec__content .content .car__text p {
  font-family: AvenirNext-Regular;
}
.product .elec__content .content .car__text .stats {
  display: flex;
  justify-content: space-around;
  align-items: left;
}
.product .elec__content .content .car__text .stats .stat {
  font-family: AvenirNext-Regular;
  font-size: 44px;
  font-weight: none;
  color: #FFFFFF;
  letter-spacing: 0;
}
.product .elec__content .content .car__text .stats .label {
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 0;
}
.product .elec__content .content .btn-car {
  margin-top: 40px;
}
.product .pre__content {
  font-family: AvenirNext-Regular;
  color: #FFFFFF;
  text-align: left;
  padding-top: 49px;
  height: 590px;
  background: url(./../../images/MY22-passport-feat-blade-capability-overview-desktop-2x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product .pre__content img {
  width: 100%;
  margin-bottom: 30px;
}
.product .pre__content .content {
  padding: 20px 60px;
}
.product .pre__content .content .car__text p {
  font-family: AvenirNext-Regular;
}
.product .pre__content .content .car__text .stats {
  display: flex;
  justify-content: space-around;
  align-items: left;
}
.product .pre__content .content .car__text .stats .stat {
  font-family: AvenirNext-Regular;
  font-size: 44px;
  font-weight: none;
  color: #FFFFFF;
  letter-spacing: 0;
}
.product .pre__content .content .car__text .stats .label {
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 0;
}
.product .pre__content .content .btn-car {
  margin-top: 40px;
}
.product .future__content {
  font-family: AvenirNext-Regular;
  color: #FFFFFF;
  text-align: left;
  padding-top: 49px;
  height: 590px;
  background: url(./../../images/MY21-Rugged-promo-banner-M.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product .future__content img {
  width: 100%;
  margin-bottom: 30px;
}
.product .future__content .content {
  padding: 20px 60px;
}
.product .future__content .content .car__text p {
  font-family: AvenirNext-Regular;
}
.product .future__content .content .car__text .stats {
  display: flex;
  justify-content: space-around;
  align-items: left;
}
.product .future__content .content .car__text .stats .stat {
  font-family: AvenirNext-Regular;
  font-size: 44px;
  font-weight: none;
  color: #FFFFFF;
  letter-spacing: 0;
}
.product .future__content .content .car__text .stats .label {
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 0;
}
.product .future__content .content .btn-car {
  margin-top: 40px;
}

.tool {
  padding: 100px 60px 30px 30px;
}
.tool .tool__content .tool-item {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px 3px rgba(108, 107, 107, 0.245);
  border-radius: 10px;
}
.tool .tool__content .tool-item i {
  font-size: 75px;
  font-weight: none;
  color: #00324f;
  letter-spacing: none;
}
.tool .tool__content .tool-item p {
  font-size: 16px;
  font-weight: 600;
  color: #00324f;
  letter-spacing: none;
  margin-top: 40px;
  margin-bottom: 30px;
}

.card {
  margin-bottom: 30px;
  box-shadow: 5px 5px 5px 3px rgba(108, 107, 107, 0.245);
}
.card .card-body {
  text-align: center;
  padding: 0 2.1rem 2.1rem;
}
.card .card-body .card-title {
  margin-top: 20px;
  margin-bottom: 0;
  min-height: 40px;
  font-size: 16px;
  font-weight: 400;
  color: #00324f;
  letter-spacing: 0;
  font-family: AvenirNext-DemiBold;
}
.card .card-body .card-text {
  margin: 20px 0;
  min-height: 105px;
  font-size: 14px;
  font-weight: 100;
  color: #00324f;
  letter-spacing: 0;
  font-family: AvenirNext-Regular;
}

@media screen and (max-width: 1200px) {
  .card .card-body .card-title {
    min-height: 60px;
  }
  .card .card-body .card-text {
    min-height: 150px;
  }
}
@media screen and (max-width: 992px) {
  .card .card-body .card-title {
    min-height: 40px;
  }
  .card .card-body .card-text {
    min-height: 105px;
  }
}
.discover {
  padding-bottom: 100px;
}
.discover .discover__content {
  margin-top: 20px;
  padding: 0 20px;
}
.discover .discover__item {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

footer .footer__content {
  padding: 40px;
}
footer .footer__content h4 {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #00446b;
  letter-spacing: 0;
  font-family: AvenirNext-Bold;
}
footer .footer__content .menu-item {
  text-align: left;
}
footer .footer__content .menu-item li {
  margin: 5px 0;
}
footer .footer__content .menu-item li a {
  font-size: 12px;
  font-weight: 100;
  color: #00446b;
  letter-spacing: 0;
  font-family: AvenirNext-Medium;
}
footer .footer__content .footer__logo {
  border-top: 3px solid #007cc0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.256);
  text-align: center;
}
footer .footer__content .footer__logo svg {
  margin: 20px 0;
  height: 90px;
  width: 138px;
  fill: #007cc0;
}
footer .footer__content .footer__between {
  padding: 20px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.256);
}
footer .footer__content .footer__between .footer__brand .social {
  display: flex;
  justify-content: flex-start;
}
footer .footer__content .footer__between .footer__brand .social img {
  width: 26px;
  height: 26px;
  margin: 0 5px;
}
footer .footer__content .footer__between .stay-infor {
  text-align: right;
}
footer .footer__content .footer__between .text__p {
  font-size: 14px;
  font-weight: 100;
  color: #00324f;
  letter-spacing: 0;
  font-family: AvenirNext-DemiBold;
}
footer .footer__content .nav-footer {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 20px;
}
footer .footer__bottom {
  padding: 20px;
  background-color: #007cc0;
  color: #FFFFFF;
}
footer .footer__bottom .text {
  display: flex;
  justify-content: space-between;
}
footer .footer__bottom .text .text__left p {
  font-size: 12px;
  font-weight: 100;
  color: #FFFFFF;
  letter-spacing: 0;
}
footer .footer__bottom .text .text__left a {
  font-size: 12px;
  font-weight: 200;
  color: #FFFFFF;
  letter-spacing: 0;
  font-family: AvenirNext-Medium;
}
footer .footer__bottom .text .text__right ul {
  justify-content: flex-end;
  align-items: right;
}
footer .footer__bottom .text .text__right ul li {
  margin-right: 14px;
}
footer .footer__bottom .text .text__right ul li a {
  font-size: 12px;
  font-weight: 100;
  color: #FFFFFF;
  letter-spacing: 0;
  border-right: 1px solid #FFFFFF;
  padding-right: 8px;
}
footer .footer__bottom .logo-brands {
  padding: 34px 100px 44px 49px;
  justify-content: space-around;
}
footer .footer__bottom .logo-brands img {
  width: 95px;
  height: 60px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(263deg) brightness(106%) contrast(101%);
}
footer .footer__bottom .copyright {
  padding: 20px;
}
footer .footer__bottom .copyright p {
  font-size: 12px;
  font-weight: 100;
  color: #FFFFFF;
  letter-spacing: 0;
}
footer .footer__bottom .copyright a {
  font-size: 12px;
  font-weight: 200;
  color: #FFFFFF;
  letter-spacing: 0;
  font-family: AvenirNext-Medium;
}
footer .forSmallScreen #navFooter .card {
  margin: 0;
  box-shadow: none;
  border-left: none;
  border-right: none;
}
footer .forSmallScreen #navFooter .card .card-header {
  padding: 0;
}/*# sourceMappingURL=style.css.map */