.btn-nav {
  @include style-button($pd-14, $pd-16,transparent, 1px solid transparent, 0, $color-white);

  &.high-light {
    padding: $pd-14 $pd-30;
    border-color: $color-white-dark;
    border-top-color: transparent;
    border-bottom-color: transparent;
    &.bd-l {
      border-left: none;
    }
  }
  i {
    font-size: $fs-16;
  }

  &::after {
    content: "";
    @include type-position-zindex-width(absolute,1,100%);
    @include position-top-left(0,0);
    height: 0;
    background-color: $color-white;
    transition: all 0.2s;
    border: none;
    display: block;
  }

  &:hover {
    border-color: $color-white;
    span, i {
      color: $color-blue-dark;
      z-index: 2;
    }

    &::after {
      height: 100%;
    }
    
  }
}

.btn-language {
  @include style-button($pd-3, $pd-14,$color-white, $bd-2 solid $color-primary, $br-1, $color-white);
  @include style-text($fs-12,$fw-6,$color-primary,$letter-space-0);
  text-transform: uppercase;
  &.active {
    background-color: $color-primary;
    color: white;
  }
}

.btn-offer {
  @include style-button($pd-11, $pd-25,$color-red, $bd-2 solid $color-white, $br-1, $color-white);
  @include style-text($fs-12,$fw-6,$color-white,$letter-space-0);
  text-transform: uppercase;
  transition: all 0.2s;
  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: $color-red;
    background-color: $color-white;
  }
}


.btn-slide {
  @include type-position-zindex-width(absolute,8,none);
  @include position-top-left(50%,none);
  @include width-height(45px,90px);
  transform: translateY(-50%);
  border-radius: 0 $br-12 $br-12 0;
  color: $color-blue-dark;
  transition: all 0.5s;
  background-color: white;
  border: none;

  i {
    @include style-text(25px,none,$color-blue-dark,none);
    
  }

  &.carousel-control-next {
    border-radius: $br-12 0 0 $br-12;
  }

  &:hover {
    i {
      color: $color-blue-light;
    }
  }
}

.btn-learn-more {
  @include style-button($pd-8, $pd-13,$color-blue-light, $bd-2 solid transparent, $br-1, $color-white);
  text-transform: uppercase;
  @include style-text($fs-main,$fw-6,$color-white,none);

  &:hover {
    border-color: $color-blue-light;
    background-color: transparent;
    color: $color-blue-light;
  }
}