footer {
  .footer__content{
    padding: $pd-40;
    .footer__logo {
      border-top: 3px solid $color-primary;
      border-bottom: 1px solid $color-gray;
      text-align: center;
      svg {
        margin: $mg-20 0;
        height: 90px;
        width: 138px;
        fill: $color-primary;
      }
    }
    .footer__between {
      padding: $pd-20 0;
      border-bottom: 1px solid $color-gray;
      .footer__brand {
        .social {
          display: flex;
          justify-content: flex-start;
          img {
            width: 26px;
            height: 26px;
            margin: 0 $mg-5;
          }
        }
      }
      .stay-infor {
        text-align: right;
      }
      .text__p {
        @include style-text($fs-main,$fw-1,$color-blue-dark,0);
        font-family: AvenirNext-DemiBold;
      }
    }
    .nav-footer {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      padding-top: $pd-20;
      h4 {
        @include style-text($fs-main,$fw-6,$color-blue-dark-2,0);
        font-family: AvenirNext-Bold,
      }
      .menu-item {
        li {
          margin: $mg-5 0;
          a {
            @include style-text($fs-12,$fw-1,$color-blue-dark-2,0);
            font-family: AvenirNext-Medium,
          }
        } 
      }
    }
  }
  .footer__bottom {
    padding: $pd-20;
    background-color: $color-primary;
    color: $color-white;
    .text{
      display: flex;
      justify-content: space-between;
      .text__left {
        p {
          @include style-text($fs-12,$fw-1,$color-white,0);
        } 
        a {
          @include style-text($fs-12,$fw-2,$color-white,0);
          font-family: AvenirNext-Medium,
        }
      }
      .text__right {
        ul {
          justify-content: flex-end;
          align-items: right;
          li {
            margin-right: $mg-14;            
            a {
              @include style-text($fs-12,$fw-1,$color-white,0);
              border-right: 1px solid $color-white;
              padding-right: $pd-8;
            }
          }
        }
      }
    }
    .logo-brands {
      padding: 34px 100px 44px 49px;
      display: flex;
      justify-content: space-around;
      img {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(263deg) brightness(106%) contrast(101%);
      }
    }
    .copyright {
      padding: $pd-20;
      p {
        @include style-text($fs-12,$fw-1,$color-white,0);
      } 
      a {
        @include style-text($fs-12,$fw-2,$color-white,0);
        font-family: AvenirNext-Medium,
      }
    }
  }
}