header {
  @include type-position-zindex-width(fixed,10,100%);
  background-color: $color-primary;
  padding: 0;
  .navHeader{
    @include reset-pd-mg();
    @include style-d-flex(space-between,none);
    position: relative;
    .logo {
      img {
        width: 50px;
        margin-left: $mg-16;
      }
    }
    .menu {
      @include reset-pd-mg();
    }
    span,i {
      position: relative;
    }
    span {
      @include style-text($fs-main,$fw-4,$color-white,$letter-space-0);
    }
    .forSmall {
      padding: 0;
    }
  } 
}

@media screen and (max-width:1200px) {
  header {
    .forSmall {
      @include reset-pd-mg();
      button {
        span {
          display: none;
        }
      }
      i {
        font-size: $fs-20;
      }
    }
  }
  .forSmallScreen {
    .content-nav {
      @include type-position-zindex-width(absolute,9,100%);
      @include position-top-left($top-53,0);
      padding: 0;
      .card {
        background-color: $color-bg-main;
        .list-group-item {
          background-color: $color-bg-main;
          padding-left: 0;
          padding-right: 0;
          a {
            @include style-d-flex(space-between,center);
          }
          span {
            @include style-text($fs-main,$fw-5,$color-blue-dark,$letter-space-0);
            text-transform: uppercase;
          }
          .language-button {
            margin-top: $mg-5;
          }
        }
      }
    }
  }
}

