@mixin style-button ($py,$px,$bg,$bd,$br,$color){
  padding: $py $px;
  background: $bg;
  border: $bd;
  border-radius: $br;
  color: $color;
  transition: all 0.3s;
  position: relative;
}

@mixin style-text ($fs,$fw,$color,$letter-space){
  font-size: $fs;
  font-weight: $fw;
  color: $color;
  letter-spacing: $letter-space;
}

@mixin style-bg ($bg,$size,$position){
  background: $bg;
  background-size: $size;
  background-position: $position;
  background-repeat: no-repeat;
}

@mixin reset-pd-mg() {
  margin: 0;
  padding: 0;
}

@mixin type-position-zindex-width($position,$z-index,$width) {
  position: $position;
  z-index: $z-index;
  width: $width;
}

@mixin position-top-left($top,$left) {
  top: $top;
  left: $left;
}

@mixin position-bottom-left($bottom,$left) {
  bottom: $bottom;
  left: $left;
}

@mixin style-d-flex($jus-cont,$alig-item) {
  display: flex;
  justify-content: $jus-cont;
  align-items: $alig-item;
}

@mixin width-height($w,$h) {
  width: $w;
  height: $h;
}
