@mixin style-button ($py,$px,$bg,$bd,$br,$color){
  padding: $py $px;
  background: $bg;
  border: $bd;
  border-radius: $br;
  color: $color;
  transition: all 0.3s;
  position: relative;
}

@mixin style-text ($fs,$fw,$color,$letter-space){
  font-size: $fs;
  font-weight: $fw;
  color: $color;
  letter-spacing: $letter-space;
}

@mixin style-bg ($bg,$size,$position){
  background: $bg;
  background-size: $size;
  background-position: $position;
  background-repeat: no-repeat;
}

@mixin reset-pd-mg() {
  margin: 0;
  padding: 0;
}

@mixin type-position-zindex-width($position,$z-index,$width) {
  position: $position;
  z-index: $z-index;
  width: $width;
}

@mixin position-top-left($top,$left) {
  top: $top;
  left: $left;
}

@mixin position-bottom-left($bottom,$left) {
  bottom: $bottom;
  left: $left;
}

@mixin style-d-flex($jus-cont,$alig-item) {
  display: flex;
  justify-content: $jus-cont;
  align-items: $alig-item;
}

@mixin width-height($w,$h) {
  width: $w;
  height: $h;
}

@mixin style-slide($bg) {
  font-family: AvenirNext-Regular;
    color: $color-white;
    text-align: left;
    padding-top: $pd-49;
    height: 590px;
    @include style-bg ($bg,cover,center);
    img {
      width: 100%;
      margin-bottom: $mg-30;
    }
    .content{
      padding: $pd-20 $pd-60;
      .car__text {
        p {
          font-family: AvenirNext-Regular;
        }
        .stats {
          @include style-d-flex(space-around,left);
          .stat {
            font-family: AvenirNext-Regular;
            @include style-text($fs-44,none,$color-white,0)
          }
          .label {
            @include style-text($fs-12,$fw-6,$color-white,0)
          }
        }
      }
      .btn-car {
        margin-top: 40px;
      }
    }
}