//Font:

$fs-main : 14px;
$fs-10 : 10px;
$fs-11 : 11px;
$fs-12 : 12px;
$fs-15 : 15px;
$fs-16 : 16px;
$fs-20 : 20px;
$fs-26 : 26px;
$fs-60 : 60px;
$fs-75 : 75px;

//Color:

$color-primary: #007cc0;
$color-secondary: rgb(245, 245, 245);

$color-blue-dark: #00324f;
$color-blue-dark-light:#06456a;
$color-blue:#337ab7;
$color-blue-light:#2198dc;

$color-white: #FFFFFF;
$color-red: #e42525;

//Padding

$pd-5  : 5px;
$pd-8  : 8px;
$pd-9  : 9px;
$pd-11 : 11px;
$pd-13 : 13px;
$pd-14 : 14px;
$pd-20 : 20px;
$pd-25 : 25px;
$pd-30 : 30px;
$pd-34 : 34px;
$pd-40 : 40px;
$pd-45 : 45px;
$pd-49 : 49px;
$pd-60 : 60px;
$pd-78 : 78px;
$pd-100: 100px;

//Margin


$mg-5  : 5px;
$mg-10 : 10px;
$mg-11 : 11px;
$mg-12 : 12px;
$mg-16 : 16px;
$mg-20 : 20px;
$mg-22 : 22px;
$mg-30 : 30px;
$mg-35 : 35px;
$mg-40 : 40px;
$mg-53 : 53px;
$mg-188: 188px;
$mg-200 : 200px;

//Line height

$line-height-1 : 1.8rem;
$line-height-2 : 2rem;

//Letter spacing

$letter-space-0 : 0.5px;

//Border

$bd-1 : 1px;
$bd-2 : 2px;

//Border radius

$br-1 : 1.95rem;


